# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# PyCharm files
/.idea
# editable pip install files
/clovars.egg-info
/build
# Default CloVarS output folder
/output