h1, h2, h3, p {
    font-family: "Fira Sans", serif;
}

h1 {
    vertical-align: baseline;
    margin-bottom: 0;
}

hr {
    margin: 0 0 1rem;
    padding: 0;
}

.numeric-input-group {
    padding: 5px;
}

.signal-param-container {
    padding: 0;
}

.note {
    font-style: italic;
    text-align: right;
}

.dummy-div {
    display: none;
}
