.treatment-name {
    text-align: center;
    padding: 0;
    margin: 0;
}

.text-division, .text-death {
    text-align: center;
    padding: 0;
    margin: 0;
}

.text-division {
    color: #029e73;
}

.text-death {
    color: #de8f05;
}

.treatment-container {
    margin: 5px auto;
    padding: 5px;
}

.new-tt-btn {
    text-align: center;
    font-size: larger;
    margin: 20px auto;
}
