{% block content %}
  <div class="border rounded treatment-container">
    <h2 class ="treatment-name">{{ treatment.name }}</h2>
    <div id="{{ treatment.name + '_chart' }}" class="chart"></div>
    {% for curve, label in treatment.get_curves_labels() %}
      <div class="col-s">
        {%  with curve=curve, label=label %}
          {% include 'curve.html' %}
        {%  endwith %}
      </div>
    {% endfor %}
  </div>

  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <script type='text/javascript'>
      var graphs = {{treatment.get_graph_json() | safe}};
      Plotly.plot({{ treatment.name + '_chart' }}, graphs, {});
  </script>

{% endblock %}
