{% extends 'base.html' %}

{% block style %}
  <link rel="stylesheet" type="text/css" href={{ url_for('treatment_bp.static', filename='dist/style.min.css') }}/>
{% endblock %}

{% block title %}
  Treatments
{% endblock %}

{% block content %}
  <h1>Treatments</h1>
    <div class="container">
      <div class="row">
        {% for treatment in treatments %}
          <div class="col-6">
            {% include 'treatment.html' %}
          </div>
        {% endfor %}
      </div>
    </div>
  <a class="btn btn-primary new-tt-btn" href={{ url_for('treatment_bp.new_treatment') }}>Add new Treatment...</a>
{% endblock %}
